flows.json
[{"id":"21bf2be.ebcf5d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3230d5d.53af","type":"rpi-sensehat out","z":"21bf2be.ebcf5d4","name":"","x":730,"y":520,"wires":[]},{"id":"c8dd653b.2527a8","type":"http in","z":"21bf2be.ebcf5d4","name":"/api","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":430,"y":380,"wires":[["9be05004.658c2","da1fc958.bec338"]]},{"id":"4723d862.22c608","type":"http response","z":"21bf2be.ebcf5d4","name":"","statusCode":"","headers":{},"x":730,"y":380,"wires":[]},{"id":"9be05004.658c2","type":"change","z":"21bf2be.ebcf5d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<style>color:red;</style>ERROR, PLEASE SET A REQUEST TYPE ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["4723d862.22c608"]]},{"id":"da1fc958.bec338","type":"debug","z":"21bf2be.ebcf5d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":420,"wires":[]},{"id":"e5f1ad8f.12f37","type":"comment","z":"21bf2be.ebcf5d4","name":"ERROR REQUEST TYPE","info":"Error is run when there is no request type\n","x":490,"y":340,"wires":[]},{"id":"4d20b783.981e78","type":"http in","z":"21bf2be.ebcf5d4","name":"/api/pixel","url":"/api/pixel","method":"get","upload":false,"swaggerDoc":"","x":440,"y":580,"wires":[["5cfe4eff.36bb6","c21cb34e.c41ab"]]},{"id":"6d8333b8.571dcc","type":"comment","z":"21bf2be.ebcf5d4","name":"Sets a pixel","info":"","x":450,"y":540,"wires":[]},{"id":"5cfe4eff.36bb6","type":"debug","z":"21bf2be.ebcf5d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":620,"wires":[]},{"id":"c21cb34e.c41ab","type":"function","z":"21bf2be.ebcf5d4","name":"","func":"\nlet xPos = msg.req.query.x\nlet yPos = msg.req.query.y\nlet col = msg.req.query.c\n\nmsg.payload =  formatstring = `${xPos},${yPos},${col}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":580,"wires":[["b3230d5d.53af","fc8d59da.b091a8"]]},{"id":"fc8d59da.b091a8","type":"http response","z":"21bf2be.ebcf5d4","name":"","statusCode":"","headers":{},"x":710,"y":580,"wires":[]},{"id":"a39d0423.9da918","type":"debug","z":"21bf2be.ebcf5d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":1040,"wires":[]},{"id":"9b41568b.ddf208","type":"http in","z":"21bf2be.ebcf5d4","name":"/api/clear","url":"/api/clear","method":"get","upload":false,"swaggerDoc":"","x":460,"y":1000,"wires":[["a39d0423.9da918","692be6a4.862498"]]},{"id":"692be6a4.862498","type":"function","z":"21bf2be.ebcf5d4","name":"","func":"msg.payload =  \"*,*,0,0,0\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1000,"wires":[["151105cf.e2888a","793d040a.9675ec"]]},{"id":"151105cf.e2888a","type":"rpi-sensehat out","z":"21bf2be.ebcf5d4","name":"","x":750,"y":960,"wires":[]},{"id":"793d040a.9675ec","type":"http response","z":"21bf2be.ebcf5d4","name":"","statusCode":"","headers":{},"x":730,"y":1000,"wires":[]},{"id":"e51aae9c.b9d44","type":"http response","z":"21bf2be.ebcf5d4","name":"","statusCode":"","headers":{},"x":710,"y":760,"wires":[]},{"id":"47d7a3ec.017d9c","type":"function","z":"21bf2be.ebcf5d4","name":"","func":"\nlet Text = msg.req.query.t\n\nmsg.payload = Text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":760,"wires":[["aeb9ed13.cb17d","e51aae9c.b9d44"]]},{"id":"60d2b584.df004c","type":"http in","z":"21bf2be.ebcf5d4","name":"/api/text","url":"/api/text","method":"get","upload":false,"swaggerDoc":"","x":430,"y":760,"wires":[["4415a115.b9279","47d7a3ec.017d9c"]]},{"id":"aeb9ed13.cb17d","type":"rpi-sensehat out","z":"21bf2be.ebcf5d4","name":"","x":730,"y":700,"wires":[]},{"id":"4415a115.b9279","type":"debug","z":"21bf2be.ebcf5d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":800,"wires":[]},{"id":"d1bd446f.9f3af8","type":"http response","z":"21bf2be.ebcf5d4","name":"","statusCode":"","headers":{},"x":870,"y":1180,"wires":[]},{"id":"a3480282.0d1bf","type":"function","z":"21bf2be.ebcf5d4","name":"","func":"\nlet Text = msg.req.query.b\n\nmsg.payload = Text;\n\neval(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1180,"wires":[["d1bd446f.9f3af8","75470d7a.e1a8d4"]]},{"id":"ccced522.82fa08","type":"http in","z":"21bf2be.ebcf5d4","name":"/api/bash","url":"/api/bash","method":"get","upload":false,"swaggerDoc":"","x":460,"y":1180,"wires":[["a3480282.0d1bf"]]},{"id":"75470d7a.e1a8d4","type":"debug","z":"21bf2be.ebcf5d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1140,"wires":[]}]